<!DOCTYPE html>
<html>

<head>
    <title>My Email Template</title>
    <style>
        .no-space {
            line-height: 0;
        }
    </style>
</head>

<body>
    <div class="no-space">
        <h1>My Email Template</h1>
        <p>Hi {{name}},</p>
        <p>Thank you for registering with us.</p>
        <p>Regards,</p>
        <p>My Email Template</p>
    </div>
</body>

</html>