<!DOCTYPE html>
<html>

<head>
    <title>My Email Template</title>
</head>

<body>
    <h1>My Email Template</h1>
    <p>count: {{ data.[0].total }},</p>
    <p>Regards,</p>
    <p>My Email Template</p>
</body>

</html>