<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Email Template</title>
    <style>
        .no-space {
            line-height: 0;
        }
    </style>
</head>

<body>
    <div class="no-space">
        <h1>My Email Template</h1>
        <p>count: {{ data.[0].total }},</p>
        <p>Thank you for registering with us.</p>
        <p>Regards,</p>
        <p>My Email Template</p>
    </div>
</body>

</html>